.header{
    background-color: transparent;
    min-height: 100px;
    display: flex;
    /* position: absolute; */
    font-size: 100;
    color: rgb(0, 0, 0); 
    margin-left: 36px;
    /* box-shadow: 1px 1px #c9c9c9;? */
}

.header--logo{
    display:flex;
    color: #557D8D;
    font-size: 30px;
    margin-left: 200px;
    width: auto;
    height: auto;
    margin-top: auto;
    margin-bottom:auto;
}

.header--title{
    display:flex;
    color: #557D8D;
    font-size: 30px;
    margin-left: 10px;
    font-weight: 550;
    margin-top:auto;
    margin-bottom: auto;
    font-family: 'Lexend', sans-serif;
}

.header--nav{
    display:flex;
    list-style-type: none;
margin-left: auto;
}

.header--nav > li{
    margin-left: 30px;
    margin-top: 10px;
    font-size: 20px;
    color: black;
    margin-right: 30px
    
}

.footer{
    background-color: transparent;
    min-height: 100px;
    display: flex;
    position: fixed;
    font-size: 100;
    color: white; 
    padding: 0px 10px 0px 10px;
    left: 200px;
    bottom: 0px;
    width: 100%;
    
    /* box-shadow: 1px 1px #c9c9c9;? */
}

.footer > ul{
    list-style-type: none;
    display:flex;
}

.footer > ul >li{
    margin-right: 50px;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    color: #5d5757
}

.countdown-timer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 50px;
    color: rgb(252, 246, 246);
}

.typing--section{
    display: flex;
    flex-direction: column;
    padding: 100px   180px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 30px;
    color: rgb(233, 231, 231);
    /* box-shadow: 2px 2px 2px 2px #aaaaaa; */
}

.button--start{
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    color: rgb(0, 0, 0);
    padding: 10px 50px;
    border-radius: 10px;
    background-color: #eae9e9;
    border: none;
}


.auth{
    width: 50vw;
    min-height: 70vh;
    column-count: 2;
    column-gap: 10vw;
    margin-left: auto;
    margin-right: auto;
    padding: 10vh;
    font-family: 'Roboto Mono', monospace;
}

.auth > h4 {
    color: #EEEEEE
}
.register{
    color: white;
    padding: 50px;
}

.login{
    color: white;
    padding: 50px;
}

.register-box{
    background-color: #171717;
    width: 240px;
    height:36px;
    margin-bottom: 5px;
    border-radius: 10px;
    border:none;
    text-indent: 10px;
    font-size: 15px;
    color: white;
}

.register-box::placeholder{
    color:#444444;
}

.remember-me{
    accent-color: #444444;
}

.auth-button{
    background-color: #171717;
    width: 240px;
    height:36px;
    margin-bottom: 5px;
    border-radius: 10px;
    border:none;
    font-family:'Roboto Mono', monospace;
    font-size: 15px;
    color: white;
}

.word-unrendered{
    font-family: 'Roboto Mono', monospace;
    color: #444444;
    font-weight: 1000;
}
.word-correct{
    font-weight: bold;
    color: 	#C0C0C0;
    font-family: 'Roboto Mono', monospace;
}
.word-incorrect{
    font-weight: bold;
    color: #C41E3A;
    font-family: 'Roboto Mono', monospace;
}
